.container {
	position: fixed;
	z-index: 9999;
	display: flex;
	flex-direction: row;
	transition: transform 0.5s ease;
	width: 100%;
	height: 5vh;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
	animation: fadeIn 2s forwards;
}

.modal {
	position: absolute;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.input {
	position: relative;
	top: 8px;
	margin: 8px 4px 8px 32px;
	padding: 1em;
	font-family: Helvetica;
	color: rgb(0, 0, 0);
	width: 16em;
	height: 3em;
	border-top-left-radius: 1.5em;
	border-bottom-left-radius: 1.5em;
	transition: transform 0.5s ease;
	background-color: rgb(255, 255, 255);
	animation: fadeIn 0.3s forwards;
}
.selectorName {
	position: relative;
	top: 8px;
	margin: 8px 4px 8px 8px;
	padding-left: 1em;
	font-family: Helvetica;
	color: rgb(0, 0, 0);
	width: 10em;
	height: 3em;
	border-top-left-radius: 1.5em;
	border-bottom-left-radius: 1.5em;
	transition: transform 0.5s ease;
	background-color: rgb(255, 255, 255);
	animation: fadeIn 0.3s forwards;
}
.selectorAttack {
	position: relative;
	top: 8px;
	margin: 8px 4px 8px 0px;
	padding-left: 1em;
	font-family: Helvetica;
	color: rgb(0, 0, 0);
	width: 10em;
	height: 3em;
	transition: transform 0.5s ease;
	background-color: rgb(255, 255, 255);
	animation: fadeIn 0.3s forwards;
}
.selectorSrc {
	position: relative;
	top: 8px;
	margin: 8px 8px 8px 0px;
	padding-left: 1em;
	font-family: Helvetica;
	color: rgb(0, 0, 0);
	width: 10em;
	height: 3em;
	border-top-right-radius: 1.5em;
	border-bottom-right-radius: 1.5em;
	transition: transform 0.5s ease;
	background-color: rgb(255, 255, 255);
	animation: fadeIn 0.3s forwards;
}
.search {
	cursor: pointer;
	position: relative;
	top: 8px;
	margin: 8px 0px 0px 0px;
	font-family: Helvetica;
	color: rgb(0, 0, 0);
	width: 5em;
	height: 3em;
	border-top-right-radius: 1.5em;
	border-bottom-right-radius: 1.5em;
	transition: transform 0.5s ease;
	background-color: rgb(255, 255, 255);
	animation: fadeIn 0.3s forwards;
}
.search img {
	height: 2em;
}
.add {
	cursor: pointer;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 8px;
	margin: 8px 4px 0px 0px;
	font-family: Helvetica;
	color: rgb(0, 0, 0);
	width: 3em;
	height: 3em;
	border-radius: 50%;
	transition: transform 0.5s ease;
	background-color: rgb(255, 255, 255);
	animation: fadeIn 0.3s forwards;
}
.add img {
	height: 1.5em;
}
.logo {
	position: absolute;
	top: 5%;
	right: 0%;
	transform: translate(-50%, -50%);
	z-index: 5;
	animation: fadeInLogo 1s forwards;
}

.add:hover tooltip {
	opacity: 1;
}

.add tooltip {
	position: absolute;
	font-weight: bolder;
	text-align: center;
	top: 32px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5em 1em;
	z-index: 999;
	pointer-events: none;
	user-select: none;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 0.7rem;
	opacity: 0;
	color: white;
	transition: opacity 0.3s ease;
}

@keyframes fadeInLogo {
	0% {
		top: -25%;
		opacity: 0;
		scale: 0;
	}
	90% {
		top: 25%;
		opacity: 1;
		scale: 1;
	}
	100% {
		top: -1%;
		opacity: 1;
		scale: 0.5;
	}
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
