@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.detail {
	left: 5%;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.8);
	width: 90%;
	height: 90vh;
	top: 8vh;
	border-radius: 64px;
	display: flex;
}
.data {
	margin: 32px;
	margin-top: 64px;
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'Press Start 2P', cursive;
	color: white;
}
.image {
	padding-top: 64px;
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.image img {
	margin: 5%;
	width: 70%;
}
.submitButton {
	height: 3em;
	width: 12em;
	border-radius: 1.5em;
	font-family: 'Press Start 2P', cursive;
	color: black;
	background-color: white;
	&:hover {
		color: white;
		background-color: black;
	}
}
.isSelected {
	background-color: cornflowerblue;
}
.disabled {
	cursor: not-allowed;
	color: lightgrey;
	background-color: darkgrey;
	&:hover {
		color: darkgrey;
		background-color: lightgrey;
	}
}
.info {
	margin-top: 5%;
	background-color: rgba(255, 255, 255, 0.5);
	width: 90%;
	height: 540px;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'Press Start 2P', cursive;
	color: white;
	border-radius: 32px;
}
.info input {
	margin: 0px;
}
.typeContainer {
	position: relative;
	top: -32px;
	width: 120%;
	scale: 0.65;
}
.background {
	z-index: 1;
	width: 100%;
	height: 99.49vh;
	object-fit: fill;
}

.button {
	position: absolute;
	left: -4em;
	top: 38%;
	margin: 8px;
	padding-top: 0.25em;
	font-family: Helvetica;
	color: rgb(255, 255, 255);
	width: 8em;
	height: 8em;
	border-radius: 50%;
	transition: transform 0.5s ease;
	background-color: rgba(255, 255, 255);
}
.button:hover {
	cursor: pointer;
	transform: scale(1.1);
}
.button:hover tooltip {
	opacity: 1;
}
.button img {
	width: 4em;
}
.button tooltip {
	position: absolute;
	font-weight: bolder;
	text-align: center;
	top: 96px;
	left: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5em 1em;
	z-index: 999;
	pointer-events: none;
	user-select: none;
	background-color: rgb(0, 0, 0, 0.8);
	border-radius: 0.7rem;
	opacity: 0;
	transition: opacity 0.3s ease;
}
.reload {
	position: absolute;
	left: 95%;
}
.input {
	position: relative;
	text-align: center;
	top: -4px;
	color: rgb(0, 0, 0);
	width: 8em;
	height: 3em;
	border-radius: 1.5em;
	font-family: 'Press Start 2P', cursive;
}
.typeSelector {
	position: relative;
	text-align: center;
	top: -4px;
	color: rgb(0, 0, 0);
	width: 16em;
	height: 3em;
	border-radius: 1.5em;
	font-family: 'Press Start 2P', cursive;
}
.name {
	top: 0px;
	position: absolute;
	width: 40%;
	margin: 16px;
	height: 4em;
	border-radius: 2em;
	font-size: larger;
	padding: none;
}
.input::placeholder {
	color: rgb(196, 196, 196);
}

@keyframes fadeInLogo {
	0% {
		top: -25%;
		opacity: 0;
		scale: 0;
	}
	90% {
		top: 25%;
		opacity: 1;
		scale: 1;
	}
	100% {
		top: -1%;
		opacity: 1;
		scale: 0.5;
	}
}
