.button {
	position: relative;
	top: -32px;
	margin: 8px;
	padding-top: 0.25em;
	font-family: Helvetica;
	color: rgb(255, 255, 255);
	width: 4em;
	height: 4em;
	border-radius: 50%;
	transition: transform 0.5s ease;
	background-color: rgba(255, 255, 255, 0.8);
}
.button:hover {
	cursor: pointer;
	transform: scale(1.5);
	background-color: greenyellow;
}
.button:hover tooltip {
	opacity: 1;
}
.button img {
	width: 2em;
}
.button tooltip {
	position: absolute;
	font-weight: bolder;
	text-align: center;
	top: -16px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5em 1em;
	z-index: 999;
	pointer-events: none;
	user-select: none;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 0.7rem;
	opacity: 0;
	transition: opacity 0.3s ease;
}
.selected {
	transform: scale(1.5);
	background-color: greenyellow;
}
